body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

.paddingt {
    margin-top: 20px;
}

.result-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

a:hover {
    background-color: #555;
}

.clear-button {
    display: inline-block;
    padding: 10px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #d00;
}